/*Resset css*/
html {
    font-family: "Inter", sans-serif;
    line-height: 1.4;
}

body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

fieldset {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    border-top-width: 1px;
}

img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #a1a1aa;
}

button,
[role='button'] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;
    font-family: inherit;
}

pre,
code,
kbd,
samp {
    font-family: 'sans-serif';
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

img,
video {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

fieldset {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    border-top-width: 1px;
}

img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #a1a1aa;
}

button,
[role='button'] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;
    font-family: inherit;
}

pre,
code,
kbd,
samp {
    font-family: 'sans-serif';
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

img,
video {
    max-width: 100%;
}

/*Estilização da página inicial*/

.body-index {
    background-color: rgba(64,53,87,255);
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 0 19px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.Logo img{
    height: 78px;
    padding-left: 0;
    margin-top: 10px;    
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin:0;
    padding: 0;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500px;
    line-height: 63px;
    padding-left: 2px;
    transition: color 0.3 ease;
    padding-right: 15px;
}

nav ul li a:hover{
    color: #3a3a3a;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
}

.secao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.imagem_cachorro {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
}

.imagem_cachorro img {
    height: 100%;
    object-fit: contain;
}
 
    /*Texto + Botão */
.apresentacao h1{
    font-size: 4.6rem;
    font-weight: 800;
    color: #F0F0F0;
    margin-bottom: 24px;
    line-height: 1.3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin-top: 150px;
    margin-left: 750px;
    padding-bottom: 100px;
}

.apresentacao a{
    background-color: #F0F0F0;
    color: #1C1134;
    padding: 15px 15px;
    font-weight: bold;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    margin-left: 1100px;
}


/*Estilização da parte de legislação*/

.maustratos-legislacao {
background-image: url('https://i.postimg.cc/KY6xY68G/cachorrodenuncia.png');
background-size: contain;
background-position: left center;
background-repeat: no-repeat;
height: 565px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.7%;
color: white;
position: relative;
margin-top: 40px;
}

.conteudo-legislacao {
max-width: 500px;
color: #fff;
margin-left: 1200px;
}

.conteudo-legislacao h1 {
font-size: 2.5rem;
font-weight: 700;
margin-bottom: 10px;

}

.conteudo-legislacao p {
font-size: 1.2rem;
margin-bottom: 20px;
}

.btn-primario {
background-color: #ffffff;
color: #6a1b9a; /* roxo escuro */
padding: 10px 20px;
border-radius: 5px;
font-weight: bold;
text-decoration: none;

}

.btn-primario:hover {
background-color: #f3e5f5; /* roxo claro */
}

.img-cachorro-legislacao{
    max-height: 260px;
}

.info-legislacao{
    max-width: 800px;
    margin: 40px auto;
    padding: 32px;
    background-color: #fff;
    border: 12px;
    text-align: center;
}

.info-legislacao h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.info-legislacao p{
    font-size: 16px;
}

    /*Denúncia*/
.denuncia-legislacao{
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.denuncia-legislacao h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.denuncia-legislacao p{
    font-size: 18px;
    margin-bottom: 32px;
}

.passos-denuncia-legislacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;   
}

.passo-legislacao{
    background-color: #c4a2f7;
    padding: 24px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0, 0.1);
}

.passo-legislacao img{
    height: 36px;
    margin-bottom: 12px;

}

.passo-legislacao h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.passo-legislacao p{
    font-size: 14px;
}

    /*Botão secundario*/
.btn-secundario{
    background-color: #3d2a5c;
    color: #fff;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: backgroung-color 0.3s;
}

.btn-secundario :hover{
    background-color: #2b1e43;
}

    /* Rodapé */
.footer {
  background-color: #c4a2f7; 
  padding: 40px 20px 0;
  font-family: 'Inter', sans-serif;
}

.footer-legislacao {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 30px;
  border-bottom: 4px solid transparent;
}

.footer-legislacao-maus,
.footer-col {
  flex: 1;
  min-width: 220px;
  margin: 0 20px;
  text-align: center;
}

.footer-legislacao-maus h4,
.footer-col h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #000;
}

.footer-legislacao-maus p,
.footer-col ul li a {
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 6px;
}

.footer-col ul li a {
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #3d2a5c;
}

    /* Ícones sociais */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-icons a img {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.footer-bottom-legislacao {
  background-color: #6d529c; 
  text-align: center;
  padding: 12px 10px;
  color: #fff;
  font-size: 13px;
}





/*contato*/



/*Estilização da parte de notícias*/
    /*Cor do fundo*/
#fundo_noticias {
    background-color: #564180;
}

    /*Cabeçalho da página*/
#cabecalho_noticias {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 100;
    margin: 100px 0px 30px 0px;
}

#cabecalho_noticias img {
    width: 110px;
    height: 110px;
    margin: 5px;
}

#cabecalho_noticias h1 {
    font-size: 80px;
    color: white;
    font-weight: 500;
    margin: 10px 5px 0px 5px;
}

    /*Cards de notícias*/
#bloco_cards_noticias {
    width: 100%;
    display: flexbox;
    justify-items: center;
    position: relative;
    z-index: 100;
}
.cards_noticias {
    display: flex;
    width: 1000px;
    height: 230px;
    background-color: white;
    margin: 15px 15px 40px 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #000000af;
}

.cards_noticias:hover {
    transform: scale(1.01)
}

.cards_noticias img{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #000000;
    margin: 15px;
}

.texto_cards {
    font-size: 22px;
    font-weight: 700;
    height: 130px;
}

#texto_cards_bloco {
    width: 600px;
    margin: 30px 30px 30px 5px;
    text-align: justify;
}

.cards_noticias a {
    color: blue;
    align-self: flex-end
}
    /*Imagens de fundo da área de notícias*/
.imagens_do_fundo {
    display: flex;
    position: fixed;
    z-index: 0;
}

#img_fundo_1 {
    width: 400px;
    height: 400px;
    position: relative;
    top: -120px;
    right: -300px;
    rotate: 50deg;
}

#img_fundo_2 {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0px;
    right: -630px;
    rotate: -40deg;
}

#img_fundo_3 {
    width: 500px;
    height: 500px;
    position: relative;
    top: 300px;
    right: 900px;
    rotate: 40deg;
}

#img_fundo_4 {
    width: 350px;
    height: 350px;
    position: relative;
    top: 400px;
    right: 50px;
    rotate: -20deg;
}

#img_fundo_5 {
    width: 300px;
    height: 300px;
    position: relative;
    top: 300px;
    right: 1000px;
    rotate: 10deg;
}
/*Página de doação*/
    /*Fundo da página*/
.fundo_pagina_doacao {
    background-color: #7B58C2;
    display: flex;
    height: 800px;
}

    /*Oragaização das imagens do fundo*/
.img_fundo_doacao_1 {
    width: 270px;
    height: 270px;
    position: relative;
    top: -520px;
    right: -1150px;
    rotate: -40deg;
}

.img_fundo_doacao_2 {
    width: 350px;
    height: 350px;
    position: relative;
    top: -490px;
    right: -1090px;
    rotate: 30deg;
}

.img_fundo_doacao_3 {
    width: 250px;
    height: 250px;
    position: relative;
    top: -650px;
    right: 70px;
    rotate: 30deg;
}

.img_fundo_doacao_gato {
    width: 600px;
    height: 600px;
    position: relative;
    z-index: 0;
    top: 110px;
    right: -50px;
}
    
    /*Textos da página de doação*/
.texto_pagina_doacao {
    height: 500px;
}
.texto_pagina_doacao h1 {
    position: relative;
    color: white;
    display: flex;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    top: 220px;
    right: -80px;
}

.texto_pagina_doacao button {
    position: relative;
    background-color: white;
    width: 400px;
    height: 50px;
    color: #2C2046;
    font-size: 30px;
    font-weight: 800;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px #0000007d;
    right: -220px;
    top: 270px;

}

.texto_pagina_doacao button:hover {
    transform: scale(1.05)
}

#chave_pix_acapra {
    position: relative;
    top: 330px;
    right: -120px;
}




/*Estilização de Historia dos Animais*/
.cor_de_fundo{
    background-color: #F5EEFF;
}

.introducao{
    background-color: #7B58C2;
    padding: 50px;
    margin-top: 50px;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.bloco0{
    display: flex;
    gap: 500px;
    padding-top: 80px;
    padding-left: 160px;
}

.nome{
    font-weight: bold;
    font-size: 25px;
}

.idade{
    font-size: 25px;
}

.bloco1{
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    text-align: justify;
    border-radius: 20px;
    background-color: rgb(123, 88, 194,40%);
    font-size: 20px;
}

.bloco2{
    display: flex;             
    align-items:center;       
    gap: 38px;                 
    padding-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bloco2 img{
    width: 20%;
    height: 283px;
    border-radius: 20px;
}

.texto2{
    background-color: rgb(123, 88, 194,40%);
    padding: 72px;
    text-align: justify;
    border-radius: 20px;
    max-width: 900px;
    font-size: 20px;
}

.sobreposicao{
    display: flex;
}

.bloco3{
    display: flex;
    background-color: rgb(123, 88, 194,40%);
    text-align: justify;
    font-size: 20px;
    border-radius: 20px;
    height: 170px;
    width: 4000px;
    margin-left: 150px;
    padding: 30px;
}

.bloco_pata img{
    width: 300%;
    transform: rotate(-35deg); 
    display: flex;
    padding-top: -200px;
    
}

.sua_historia{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    height: 200%;
    border: 2px solid #ccc;
    padding-bottom: 3%;
}

.suaHistoria{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 40px;
}

.bloco_historia{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border: 2px solid #ccc;
    padding-bottom: 20%;
}

.campo{
    text-align: start;
    border-radius: 20px;
    width: 100%;
    height: 245px;
    padding: 10px;
}


/*Estilização de Estatisticas*/

.abertura_estatistica{
    position: relative;
    display: inline-block;
}

.abertura_estatistica img {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    display: block;
}

.frase_de_efeito{
    position: absolute;
    top: 140px;    
    left: 210px;       
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

.inicio{
    position: absolute;
    top: 250px;
    font-size: 30px;
    left: 180px;
    color: white;
}

.conteudo img{
    position: absolute;
    top: 400px;
    width: 100%;
    height: 370px;
}

.grupo1, .grupo2, .grupo3, .grupo4, .grupo5{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 500px;
    text-align: center;
}

.numero{
    font-size: 40px;
    font-weight: bolder;
}

.legenda{
    font-size: 20px;
}

.grupo1{
  left: 100px;
}

.grupo2{
    left: 400px;
}

.grupo3{
    left: 685px;
}

.grupo4{
    right: 400px;
}

.grupo5{
    right: 100px;
}